@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto Mono', sans-serif;
  overflow-x: hidden;
}

/* Global */
:root {
  --bg-color: #222327;
  --text-color: #efe8e8;
  --red-color: red;
  --blue-color: blue;
  --green-color: green;
  --yellow-color: yellow;
  --dark-color: #000;
  --grey-color: #d4d4d4;
  --grey-color-1: #929292;
  --breadcrumbs-color: #929292;
  --rating-color: #FF9529;
  --btn-color: #b8b8b8;
  --green-color: #32CD32;
  --main-color: #5E17EB;
  --main-color-1: #40119d;
  --body-color: #707070;
  --hover-color: #e9dfdf;
  --light-color: #fff;
  --red-color: rgb(202, 89, 69);
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .3);
  --border: .2rem solid rgba(0, 0, 0, 0.1);
  --outline: .1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: .2rem solid rgba(var(--black));
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: var(--light-color);
}

#toolTip {
  cursor: pointer;
}

#tipMid {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  background-color: var(--main-color);
  color: var(--light-color);
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  visibility: none;
  transition: opacity 0.5s ease 0;
  opacity: 0;
}

#tipMid::before {
  content: "";
  visibility: none;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 15px solid;
  border-top: 16px solid var(--main-color);
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 0px solid transparent;
}

#tooltip:hover #tipMid {
  top: -40px;
  visibility: show;
  opacity: 1;
}

hr {
  background-color: var(--grey-color);
  min-width: 90%;
  width: 80%;
}

.empty-products {
  font-size: 1.7rem;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 1em;
}

.breadcrumbs li {
  font-size: 1.5rem;
  color: var(--breadcrumbs-color);
}

.breadcrumbs li a {
  display: flex;
  align-items: center;
  gap: 1em;
  color: var(--breadcrumbs-color)
}

.breadcrumbs li a.active {
  color: var(--main-color);
}

.breadcrumbs li.active {
  color: var(--main-color);
}

.breadcrumbs li a:hover {
  color: var(--main-color);
}

/* .custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
} */

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
  background: var(--light-color);
  border-bottom: 1px solid var(--grey-color);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 3.5em;
}

header .left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
}

header .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
}

header .nav {
  display: flex;
  gap: 3em;
  align-items: center;
}

header .nav li {
  list-style: none;
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--grey-color-1);
  transition: all .3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4em;
}

header .nav li i {
  font-size: 1.2rem;
}

#cate-btn.active {
  color: var(--main-color);
}

header .nav li a {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--grey-color-1);
  transition: all .3s ease;
}

header .nav li a:hover {
  color: var(--main-color);
}

header .icons {
  display: flex;
  gap: 1.2em;
  align-items: center;
}

header .icons .icon {
  position: relative;
  min-height: 35px;
  min-width: 35px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  color: var(--main-color);
  align-items: center;
  cursor: pointer;
}

header .icons .icon:hover {
  background-color: var(--hover-color);
}

header .icons .icon .item-count {
  position: absolute;
  top: 0;
  right: 2px;
  min-height: 15px;
  min-width: 12px;
  background-color: var(--red-color);
  color: var(--text-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .icons .icon i {
  font-size: 1.7rem;
}

header .sep {
  font-size: 1.5rem;
}

header .search {
  position: relative;
}

header .search input {
  min-width: 380px;
  border-radius: 2px;
  padding: 0.5em 0.7em;
  font-size: 1.6rem;
  border: 1px solid var(--grey-color);
  background-color: var(--light-color);
}

header .search i {
  display: none;
}

/* User Pop Hamburger */
.user-pop {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1em;
  top: 85px;
  right: -110%;
  z-index: 5;
  max-width: 360px;
  border: 1px solid var(--grey-color-1);
  background-color: var(--light-color);
  transition: all .3s ease;
}

.guest.active {
  right: 2%;
}

.logged.active {
  right: 2%;
}

.seller.active {
  right: 2%;
}

.user-pop .user-header {
  padding: 1em;
  display: flex;
  justify-content: right;
  border-bottom: 1px solid var(--grey-color-1);
}

.exit {
  background-color: transparent;
  border: 1px solid var(--grey-color-1);
  padding: 0.5em 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: all .3s ease;
}

.exit:hover {
  border: 1px solid var(--main-color);
}

.exit:hover i {
  color: var(--main-color);
}

.user-pop .user-content {
  padding: 2em;
  display: flex;
  gap: 1.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user-pop .user-content p {
  font-size: 1.2rem;
}

.user-pop .user-content img {
  min-height: 100px;
  width: 60%;
}

.guest .user-content .actions {
  display: flex;
  padding: 0.5em 0.7em;
  gap: 1em;
}

.logged .user-content .actions {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.seller .user-content .actions {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.user-pop .user-content .actions a {
  padding: 0.5em 1em;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: var(--text-color);
  border-radius: 2px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all .3s ease;
}

.user-pop .user-content .actions a:hover {
  color: var(--main-color);
  background-color: var(--light-color);
}

.user-pop .user-content .actions a:last-child {
  background-color: var(--light-color);
  color: var(--main-color);
}

.user-pop .user-content .actions a:last-child:hover {
  color: var(--text-color);
  background-color: var(--main-color);
}


/* Categories Hamburger */
.categories {
  position: fixed;
  top: 80px;
  right: -110%;
  width: 100%;
  z-index: 5;
  box-shadow: var(--box-shadow);
  background-color: var(--light-color);
  padding: 1em 5.5em;
  color: var(--dark-color);
  display: flex;
  font-size: 1.5rem;
  gap: 2em;
}

.categories.active {
  right: 0;
}

.categories .vertical-line {
  display: none;
  height: 200px;
  background-color: var(--grey-color);
  width: 2px;
}

.categories .left {
  flex: 15%;
  display: none;
  flex-direction: column;
  gap: 1em;
}

.categories .left .cate-item {
  display: flex;
  align-items: center;
  gap: 2em;
  font-size: 1.5rem;
  cursor: pointer;
}

.categories .left .cate-item:hover {
  color: var(--main-color);
}

.categories .left .cate-item h3 {
  font-weight: 500;
}

.categories .right {
  padding: 0.5em;
  flex: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.categories .right a {
  color: var(--dark-color);
}

.categories .right a:hover {
  color: var(--main-color);
}

/* Bought Products Hamburger */
.shopping-cart {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 85px;
  right: -110%;
  z-index: 5;
  max-width: 320px;
  border: 1px solid var(--grey-color);
  background-color: var(--light-color);
  padding: 1em;
  transition: all .3s ease;
}

.shopping-cart.active {
  right: 2%;
}

.shopping-cart .shopping-cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.8em 0em;
  border-bottom: 1px solid var(--grey-color);
}

.shopping-cart .shopping-cart-header .total {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.shopping-cart .shopping-cart-header .title {
  font-size: 1.5rem;
  font-weight: 500;
}

.shopping-cart .shopping-cart-header .total h5 {
  font-weight: 400;
}

.shopping-cart .shopping-cart-header .total h5:last-child {
  color: var(--main-color);
}

.shopping-cart .shopping-cart-items {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  gap: 1em;
}

.shopping-cart .shopping-cart-items .item-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.shopping-cart .shopping-cart-items .item-row .img {
  max-width: 80px;
  min-height: 60px;
  object-fit: contain;
  background-color: var(--grey-color);
}

.shopping-cart .shopping-cart-items .item-row .item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5em;
}

.shopping-cart .shopping-cart-items .item-row .item-details .item-name {
  font-size: 1.5rem;
}

.shopping-cart .shopping-cart-items .item-row .item-details .group {
  display: flex;
  gap: 0.8em;
  font-size: 1.3rem;
}

.shopping-cart .shopping-cart-items .item-row .item-details .price {
  color: var(--main-color);
  font-size: 1.5rem;
}

.shopping-cart .shopping-cart-items .item-row .item-details .group .details-group {
  display: flex;
  gap: 0.3em;
  color: var(--grey-color-1);
}

.shopping-cart .shopping-cart-items .item-row .item-details .cancel-group {
  display: flex;
  justify-content: space-between;
  gap: 3em;
}

.shopping-cart .shopping-cart-items .item-row .item-details .cancel-group button {
  border: none;
  background-color: var(--light-color);
  text-decoration: underline;
  cursor: pointer;
}

.shopping-cart .actions {
  margin: 1em 0;
  display: flex;
  gap: 1em;
}

.shopping-cart .actions button {
  flex: 50%;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 0.5em 0.8em;
  color: var(--text-color);
  border-radius: 2px;
  cursor: pointer;
  transition: all .3s ease;
}

.shopping-cart .actions button:hover {
  background-color: var(--light-color);
  color: var(--main-color);
}

.logo {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--main-color);
}

.hero {
  margin-top: 10em;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-msg {
  margin: 0.5em;
  display: block;
  border-radius: 2px;
  font-size: 1.3rem;
  padding: 1em;
  background-color: var(--red-color);
  color: white;
}

.error-stmt {
  margin: 0.5em;
  display: block;
  border-radius: 2px;
  font-size: 1.3rem;
  padding: 1em;
  background-color: var(--main-color);
  color: white;
}

.success-msg {
  display: block;
  border-radius: 2px;
  font-size: 1.3rem;
  padding: 1em;
  background-color: var(--green-color);
  color: white;
}

.hero .wrapper {
  background-color: #fff;
  border: 1px solid var(--grey-color-1);
  max-width: 380px;
  border-radius: 2px;
}

.hero .wrapper form {
  display: flex;
  flex-direction: column;
}

.hero .wrapper form .login-header {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey-color);
}

.hero .wrapper form .login-header .exit {
  background-color: transparent;
  border: 1px solid var(--grey-color-1);
  padding: 1em;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: all .3s ease;
}

.hero .wrapper form .login-header .exit:hover {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.hero .wrapper form .details {
  padding: 1em 1.5em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.hero .wrapper form .details .desc {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.hero .wrapper form .details .desc .title {
  font-size: 1.7rem;
}

.hero .wrapper form .details .desc .description {
  font-size: 1.4rem;
  text-align: justify;
  color: var(--grey-color-1);
}

.hero .wrapper form .details .fields {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.hero .wrapper form .details .fields .field {
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  font-size: 1.4rem;
}

.hero .wrapper form .details .fields .group {
  display: flex;
  gap: 1em;
}

.hero .wrapper form .type {
  display: none;
}

.hero .wrapper form .details .fields .field input {
  padding: 0.7em 0.5em;
}

.hero .wrapper form .details .redirect {
  display: flex;
  justify-content: right;
  gap: 0.5em;
  font-size: 1.3rem;
}

.hero .wrapper form .details .redirect a:hover {
  text-decoration: underline;
}

.hero .wrapper form .details .actions {
  display: flex;
}

.hero .wrapper form .details .actions button {
  flex: 100%;
  margin-top: 1.5em;
  padding: 0.8em;
  background-color: var(--main-color);
  color: var(--text-color);
  border: 1px solid var(--main-color);
  border-radius: 2px;
  cursor: pointer;
  transition: all .3s ease;
}

.hero .wrapper form .details .actions button:hover {
  background-color: transparent;
  color: var(--main-color);
}

.hero .redirect span:last-child {
  color: var(--main-color);
  text-decoration: underline;
  cursor: pointer;
}

/* Landing Page */
.landing-container {
  margin-top: 6em;
  padding: 2em 3.5em;
}

/* Intro */
.landing-container .intro {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.landing-container .intro article {
  min-height: 600px;
  border-radius: 5px;
  flex: 55%;
  background-color: var(--main-color);
}

.landing-container .intro article .top {
  color: var(--text-color);
  padding: 1.5em;
}

.landing-container .intro article .top h1 {
  font-size: 7rem;
  font-weight: 700;
}

.landing-container .intro article .top p {
  margin-top: 3.5em;
  font-size: 1.7rem;
}

.landing-container .intro article .redirects {
  padding: 1em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.landing-container .intro article .redirects .links {
  position: relative;
  flex: 33%;
  border-radius: 5px;
  background-color: var(--light-color);
  filter: brightness(60%);
  padding: 1em;
  transition: all .3s ease;
}

.landing-container .intro article .redirects .links img {
  min-height: 100%;
  max-height: 320px;
  min-width: 100%;
  object-fit: cover;
}

.landing-container .intro article .redirects .links h1 {
  position: absolute;
  color: var(--dark-color);
  font-size: 2rem;
  bottom: 15px;
  left: 10px;
}


.landing-container .intro article .redirects .links:hover h1 {
  color: var(--main-color);
}

.landing-container .intro aside {
  position: relative;
  min-height: 600px;
  border-radius: 5px;
  flex: 45%;
  background-color: var(--grey-color);
}

.landing-container .intro aside .links {
  position: absolute;
  padding: 1em 2.5em;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.landing-container .intro aside .links a {
  flex: 50%;
  border: 1px solid var(--light-color);
  padding: 1em 1.5em;
  border-radius: 25px;
  color: var(--dark-color);
  background-color: var(--light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.landing-container .intro aside .links a:hover h4 {
  color: var(--main-color);
}

.landing-container .intro aside .links a:last-child {
  background-color: transparent;
  color: var(--text-color);
}

.landing-container .intro aside .links a:hover .icon {
  background-color: var(--main-color);
}

.landing-container .intro aside .links a h4 {
  font-size: 1.7rem;
  font-weight: 500;
}

.landing-container .intro aside .links .icon {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-color);
}

.landing-container .intro aside .links .icon i {
  font-size: 1.7rem;
}

.landing-container .intro aside img {
  object-fit: cover;
}

/* About */
.landing-container .about {
  margin: 3em 1em;
}

.landing-container .about p {
  font-size: 3.1rem;
  line-height: 48px;
  letter-spacing: 2px;
}

/* Homepage Categories */
.landing-container .home-categories {
  background-color: var(--grey-color);
  border-radius: 5px;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5em;
}

.landing-container .home-categories p {
  font-size: 3.5rem;
  color: var(--dark-color);
}

.landing-container .home-categories a {
  background-color: transparent;
  padding: 0.5em 0.8em;
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
  border-radius: 20px;
  font-size: 1.7rem;
}

.landing-container .home-categories a:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}


/* Shop By Categories */
.shop-categories {
  margin: 3em 0;
}

.shop-categories .header-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-categories .header-details h2 {
  font-size: 2.3rem;
}

.shop-categories .header-details a {
  display: flex;
  justify-content: center;
  gap: 1em;
  transition: all .3s ease;
  color: var(--dark-color);
}

.shop-categories .header-details a h3 {
  font-size: 1.7rem;
}

.shop-categories .header-details a:hover {
  color: var(--main-color);
}

.shop-categories .gallery {
  margin: 1.5em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.shop-categories .gallery .content-col {
  position: relative;
  min-height: 320px;
  max-height: 320px;
  border-radius: 5px;
  background-color: var(--main-color);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  color: var(--text-color);
  font-size: 1.7rem;
  cursor: pointer;
}

.shop-categories .gallery .content-col img {
  min-width: 100%;
  filter: brightness(50%);
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.9);
}

.shop-categories .gallery .content-col:hover {
  filter: brightness(75%);
  background-color: var(--hover-color);
  color: var(--grey-color);
}

.shop-categories .gallery .content-col .name {
  position: absolute;
  top: 20px;
}

.divider {
  width: 100%;
  background-color: var(--dark-color);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider p {
  font-size: 1.7rem;
  color: var(--text-color);
}

/* Footer */
footer {
  padding: 2em 3.5em;
}

footer .top {
  display: flex;
  justify-content: space-between;
}

footer .top .group {
  flex: 60%;
  display: flex;
  gap: 1em;
  flex-direction: column;
}

footer .top .group .social {
  display: flex;
  gap: 1em;
}

footer .top .group .social .icon {
  cursor: pointer;
  min-height: 32px;
  min-width: 32px;
  border: 1px solid var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-color);
}

footer .top .group .social .icon i {
  font-size: 2.2rem;
}

footer .top .group .social .icon:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

footer .top .links {
  flex: 40%;
  display: flex;
  gap: 0 12em;
}

footer .top .links .links-col {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

footer .top .links li {
  font-size: 1.9rem;
  color: var(--dark-color);
}

footer .top .links li a {
  font-size: 1.9 rem;
  color: var(--dark-color);
}

footer .bottom {
  margin-top: 9em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

footer .bottom .group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .bottom h3 {
  font-size: 1.9rem;
  color: var(--main-color);
}

footer .bottom .group p {
  font-size: 1.7rem;
}

footer .bottom .group h4 {
  font-size: 1.7rem;
  font-weight: 500;
}

/* Shop */
.shop-container {
  display: flex;
  margin: 3% 0 0;
  padding: 2em 3.5em 0;
  gap: 1em;
}

/* Shop Filter */
.shop-container .filter {
  flex: 18%;
  border: 1px solid var(--grey-color);
  border-top: none;
  border-bottom: none;
  transition: all .3s ease;
}

.header-filter {
  position: relative;
  border-bottom: 1px solid var(--grey-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1em 1.5em;
  font-size: 1.5rem;
}

.header-filter.active {
  justify-content: center;
}

.shop-container .filter:last-child {
  padding-bottom: 10em;
}

.filter.active {
  flex: 3.5%;
}

.shop-container .filter .category-select {
  margin: 1em 1em 0;
  padding: 0.5em;
}

.shop-container .filter .price-filter {
  display: flex;
  align-items: center;
}

.shop-container .filter .price-filter .price-sep {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.shop-container .filter .price-filter.active {
  display: none;
}

.shop-container .filter .header-filter .fa-filter {
  cursor: pointer;
}

.shop-container .filter .categories-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
}

.shop-container .filter .categories-filter li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  padding: 0.5em 1em;
  cursor: pointer;
}

.header-filter-name {
  display: flex;
}

.header-filter-name.active {
  display: none;
}

.bottom-filter {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.bottom-filter.active {
  display: none;
}

.shop-container .filter .bottom-filter h4 {
  font-weight: 500;
}

.shop-container .filter .bottom-filter .filter {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 1em;
}

.shop-container .filter .bottom-filter .filter button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  background-color: var(--light-color);
  border: none;
  border-top: 1px solid var(--grey-color);
  border-bottom: 1px solid var(--grey-color);
  cursor: pointer;
}

.shop-container .filter .bottom-filter .filter input {
  margin: 0.5em 1.5em;
  padding: 0.7em 1em;
}

.shop-container .filter {
  display: flex;
}

.shop-container .filter .colors {
  display: flex;
  gap: 1em;
  align-self: center;
}

.shop-container .filter .group {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.shop-container .filter .group .checkbox-input {
  position: absolute;
  display: flex;
}

.shop-container .filter .group .checkbox-label {
  padding: 1.5em 1.5em;
  border-radius: 8px;
  background-color: var(--light-color);
  border: 2px solid var(--grey-color);
  z-index: 2;
  cursor: pointer;
}

.shop-container .filter .group .checkbox-input:checked+.checkbox-label {
  border-color: 1px solid var(--main-color);
  color: var(--main-color);
}

.shop-container .filter .group .checkbox-label.red {
  background-color: var(--red-color);
}

.shop-container .filter .group .checkbox-label.blue {
  background-color: var(--blue-color);
}

.shop-container .filter .group .checkbox-label.yellow {
  background-color: var(--yellow-color);
}

.shop-container .filter .group .checkbox-label.green {
  background-color: var(--green-color);
}

.shop-container .filter .group .checkbox-label.white {
  background-color: var(--light-color);
}

.shop-container .filter .bottom-filter .sizes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.shop-container .filter .bottom-filter .sizes.active {
  display: none;
}

.shop-container .filter .sizes {
  padding: 1em;
}

.shop-container .filter .sizes .group {
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-container .filter .sizes .group .checkbox-label {
  padding: 0.5em 1.5em;
  font-size: 1.5rem;
  color: var(--dark-color);
  border: 1px solid var(--grey-color);
  background-color: var(--light-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-container .filter .filter-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1em;
  padding: 0.5em;
  color: var(--light-color);
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  transition: all .3s ease;
  cursor: pointer;
}

.shop-container .filter .filter-submit:hover {
  background-color: var(--light-color);
  color: var(--main-color);
}

.shop-container #filter-form {
  padding: 0 0 20em;
}

/* Shop Products */
.products {
  flex: 85%;
  margin: 2em 1em;
}

.products.active {
  flex: 96.5%;
}

.products .header-details {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products .header-details .title {
  font-size: 2.2rem;
  font-weight: 400;
}

.products .header-details .sort .sort-form {
  display: flex;
  align-items: center;
  gap: 1em;
}

.products .header-details .sort button {
  padding: 0.2em 0.8em;
  border-radius: 2px;
  background-color: transparent;
  border: none;
  display: flex;
  gap: 1em;
  align-items: center;
  cursor: pointer;
}

.products .header-details .sort button:hover {
  color: var(--main-color);
}

.products .header-details .sort button h4 {
  font-size: 1.7rem;
  font-weight: 500;
}

.products .header-details .sort button .icon {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: var(--dark-color);
}

/* Product Grid */
.product-grid {
  margin: 1em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  align-items: center;
}

/* .product-grid form {
  margin: 1.5em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  align-items: center;
} */

.buy-order {
  display: flex;
}

.buy-order.active {
  display: none;
}

.liked-grid {
  display: none;
}

.liked-grid.active {
  display: flex;
}

.grid-member {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.buy-selector {
  color: var(--main-color);
}

.buy-selector.active {
  color: var(--dark-color);
}

.liked-selector {
  color: var(--dark-color);
}

.liked-selector.active {
  color: var(--main-color);
}

.grid-main.active {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.product-grid .content {
  padding: 0;
  min-width: 240px;
}

.product-grid .product-col {
  position: relative;
  padding: 0.7em;
  border: 1px solid var(--grey-color);
  border-radius: 12px;
  transition: all .3s ease;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  cursor: pointer;
  align-items: center;
}

.product-col.member {
  min-width: 240px;
}

.product-grid .product-col .like {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
  box-shadow: var(--box-shadow);
  border-radius: 100%;
  min-width: 38px;
  min-height: 38px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--grey-color-1);
}

.product-grid .product-col .like.active {
  color: var(--red-color);
}

.product-grid .product-col .like:hover {
  color: var(--red-color);
}

.product-grid .product-col .like.active {
  color: var(--red-color);
}

.product-grid .product-col:hover {
  border: 1px solid var(--main-color);
}

.product-grid .product-col:hover h4 {
  color: var(--main-color);
}

.product-grid .product-col .top {
  flex: 55%;
  position: relative;
}

.product-grid .product-col .top .img {
  min-height: 100%;
  border-radius: 12px;
  max-width: 100%;
  object-fit: cover;
  background-color: var(--grey-color);
}

.product-grid .product-col .bottom {
  flex: 45%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.product-grid .product-details {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0.5em;
  cursor: pointer;
}

.product-grid .product-details h4 {
  font-size: 1.5rem;
  text-align: justify;
  width: 100%;
}

.product-grid .product-details .title {
  display: block;
  width: 100%;
}

.product-grid .product-details .rating {
  margin: 0.5em 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--grey-color-1);
}

.product-grid .product-details .rating .fa-star {
  color: var(--rating-color);
  font-size: 1.3rem;
}

.product-grid .product-details .rating h5 {
  font-size: 1.4rem;
  font-weight: 400;
}

.product-grid .bottom .product-details .rating-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7em;
}

.product-grid .product-details .price {
  font-size: 1.7rem;
}

.products .pagination {
  display: none;
  margin: 2em 0;
}

.products .pagination .page-select {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.products .pagination .page-select .select {
  font-size: 1.5rem;
  background-color: var(--light-color);
  padding: 0.5em 0.9em;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--dark-color);
}

.products .pagination .page-select .select:hover {
  background-color: var(--main-color);
  color: var(--text-color);
}

.products .pagination .page-select .select:nth-child(2) {
  background-color: var(--main-color);
  color: var(--text-color);
}

/* Product Page */
.products-container {
  margin: 4% 0 0;
  padding: 0 3em;
}

.products-container .product {
  display: flex;
  max-height: 120vh;
  gap: 2em;
}

.products-container .product .product-pic {
  flex: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 100%;
}

.products-container .product .product-pic .img {
  background-color: var(--grey-color);
  min-width: 100%;
  min-height: 100%;
  font-size: 2.2rem;
  object-fit: fill;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-container .product .product-details {
  flex: 40%;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.products-container .product .product-details .bottom-details {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2em;
}

/* Product Details */
.products-container .product .product-details .details {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.products-container .product .product-details .details .product-title {
  font-size: 3.2rem;
  padding-right: 2em;
}

.products-container .product .product-details .details .group {
  display: flex;
  gap: 1.5em;
  font-size: 1.7rem;
}

.products-container .product .product-details .details .group .rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8em;
  color: var(--rating-color);
}

.products-container .product .product-details .details .group .rating .stars {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.products-container .product .product-details .details .group .rating .value {
  color: var(--dark-color);
}

.products-container .product .product-details .details .group h4 {
  font-weight: 400;
}

.products-container .product .product-details .details .price {
  display: flex;
  align-items: center;
  gap: 1em;
}

.products-container .product .product-details .details .price .discount {
  background-color: var(--green-color);
  padding: 0.3em 0.8em;
  font-size: 1.5rem;
  border-radius: 10px;
  opacity: 0.5;
  border: 1px solid var(--grey-color);
}

.products-container .product .product-details .details .price .original-price {
  text-decoration: line-through;
}

.products-container .product .product-details .details .price span {
  font-size: 3.5rem;
  font-weight: 700;
  background-color: transparent;
}

/* Product Options */
.products-container .product .product-details .product-options {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.products-container .product .product-details .product-options .row-col {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.products-container .product .product-details .product-options .row-col .title {
  font-size: 2rem;
  font-weight: 700;
}

.products-container .product .product-details .product-options .row-col .group {
  display: flex;
  gap: 1em;
}

.products-container .product .product-details .product-options .row-col .group .icon {
  border: 1px solid var(--grey-color);
  padding: 0.5em 1em;
  font-size: 1.7rem;
}

.products-container .product .product-details .product-options .row-col.color .icon {
  border-radius: 100%;
  padding: 1em;
  border: 2px solid var(--grey-color-1);
}

.products-container .product .product-details .product-options .row-col.color .icon.red {
  background-color: var(--red-color);
}

.products-container .product .product-details .product-options .row-col.color .icon.blue {
  background-color: var(--blue-color);
}

.products-container .product .product-details .product-options .row-col.color .icon.yellow {
  background-color: var(--yellow-color);
}

.products-container .product .product-details .product-options .row-col.color .icon.green {
  background-color: var(--green-color);
}

.products-container .product .product-details .product-options .row-col.color .icon.white {
  background-color: var(--light-color);
}

/* Product Description */
.products-container .product .product-details .description {
  width: 90%;
  text-align: justify;
  font-size: 1.7rem;
}

/* Product Extra Details */
.products-container .product .product-details .extra-details {
  padding: 1em 0;
  margin: 2em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.products-container .product .product-details .extra-details .content-col {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1.5rem;
}

.products-container .product .product-details .extra-details .content-col .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35px;
  min-width: 35px;
  border-radius: 100%;
  background-color: var(--grey-color);
}

.products-container .product .product-details .extra-details .content-col h3 {
  font-weight: 500;
}

/* Product Actions */
.products-container .product .product-details .actions {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  width: 90%;
}

.products-container .product .product-details .actions button {
  flex: 50%;
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--text-color);
  border: none;
  border-radius: 2px;
  padding: 1em 2em;
  border: 1px solid var(--main-color);
  transition: all .3s ease;
}

.products-container .product .product-details .actions button:hover {
  background-color: transparent;
  color: var(--main-color);
}

.products-container .product .product-details .actions button:last-child {
  background-color: transparent;
  color: var(--main-color);
}

.products-container .product .product-details .actions button:last-child:hover {
  background-color: var(--main-color);
  color: var(--text-color);
}

/* Checkout Page */
.checkout-container {
  margin-top: 6em;
  padding: 2em 3.5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.checkout-container form {
  display: flex;
  gap: 3em;
}

/* Delivery Information & Payment Method*/
.checkout-container .checkout-details {
  flex: 70%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.checkout-container .checkout-details .info .header {
  border-bottom: 1px solid var(--grey-color);
  padding: 2em;
}

.checkout-container .checkout-details .info {
  background-color: transparent;
  border: 1px solid var(--grey-color);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 1.8em;
}

.checkout-container .checkout-details .info .fields {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.checkout-container .checkout-details .info h1 {
  font-weight: 400;
}

.checkout-container .checkout-details .info .field {
  display: flex;
  gap: 0.8em;
  flex-direction: column;
}

.checkout-container .checkout-details .info .field label {
  font-size: 1.7rem;
}

.checkout-container .checkout-details .info .field input {
  padding: 1em;
  border: 1px solid var(--grey-color);
}

.checkout-container .checkout-details .info .group {
  display: flex;
  gap: 1em;
}

.checkout-container .checkout-details .info .group .field {
  flex: 50%;
}

/* Order Summary */
.checkout-container .order-summary {
  flex: 30%;
  border: 1px solid var(--grey-color);
  border-radius: 2px;
}

.checkout-container .order-summary .header {
  border-bottom: 1px solid var(--grey-color);
  padding: 2em;
}

.checkout-container .order-summary .header h1 {
  font-weight: 400;
}

.checkout-container .order-summary .item-col {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.checkout-container .order-summary .item-col .item-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.checkout-container .order-summary .item-col .item-row .img {
  flex: 24%;
  background-color: var(--grey-color);
  border-radius: 2px;
  height: 110px;
  width: 100%;
}

.checkout-container .order-summary .item-col .item-row .details {
  flex: 76%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.checkout-container .order-summary .item-col .item-row .details .name {
  font-size: 1.4rem;
  width: 90%;
}

.checkout-container .order-summary .item-col .item-row .details .group {
  display: flex;
  align-items: center;
  gap: 1em;
  color: var(--grey-color-1);
  font-size: 1.4rem;
}

.checkout-container .order-summary .item-col .item-row .details .price {
  font-size: 1.9rem;
  color: var(--main-color);
}

.checkout-container .order-summary .cost {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.checkout-container .order-summary .cost .group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.checkout-container .order-summary .cost button {
  margin: 2em 0;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 1.5em 1.5em;
  color: var(--text-color);
  border-radius: 40px;
  cursor: pointer;
  transition: all .3s ease;
}

.checkout-container .order-summary .cost button:hover {
  background-color: transparent;
  color: var(--main-color);
}

/* Profile Page */
.profile-container {
  margin-top: 6em;
  padding: 2em 3.5em;
}

.profile-details {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
}

.profile-details .profile-pic {
  background-color: var(--grey-color-1);
  min-width: 160px;
  min-height: 160px;
  border-radius: 100%;
}

.profile-details .name {
  display: flex;
  align-items: center;
  gap: 1em;
}

.profile-details .name {
  font-size: 2.2rem;
  font-weight: 800;
}

.profile-details .email {
  font-size: 1.7rem;
}

.profile-actions {
  margin: 0 3em;
}

.profile-actions .selectors {
  display: flex;
  gap: 3em;
  border-bottom: 1px solid var(--grey-color-1);
  padding: 1.5em 0;
}

.profile-actions .selectors li:hover span {
  color: var(--main-color);
}

.profile-actions .selectors li {
  font-size: 1.9rem;
  color: var(--dark-color);
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.profile-actions .selectors li .count {
  color: var(--grey-color-1);
}

.profile-container .product-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.sell-container .product-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Seller Profile */
.seller-profile {
  margin-top: 2.5%;
  padding: 2em 3.5em 0;
  display: flex;
  gap: 3em;
}

/* Seller Sidebar */
.seller-profile .side-bar {
  flex: 15%;
  border-right: 1px solid var(--grey-color);
  border-left: 1px solid var(--grey-color);
}

.seller-profile .side-bar .title {
  display: flex;
  align-items: center;
  gap: 0.7em;
  padding: 0.7em 1em;
  color: var(--dark-color);
  border-bottom: 1px solid var(--grey-color);
}

.seller-profile .side-bar .title .name {
  font-size: 1.8rem;
}

.seller-profile .side-bar .title i {
  font-size: 1.6rem;
}

.seller-profile .side-bar .options {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.5em 0;
  padding-left: 3.5em;
}

.seller-profile .side-bar .options li {
  font-size: 1.5rem;
}

.seller-profile .side-bar .options li a {
  color: var(--grey-color-1);
}

.seller-profile .side-bar .options li a.active {
  color: var(--main-color);
}

.seller-profile .side-bar .options li a:hover {
  color: var(--main-color);
}

/* Add Product */
.seller-profile .sell-container {
  margin: 4em 1em;
  flex: 85%;
  border: 1px solid var(--grey-color);
}

.seller-profile .sell-container .header-details {
  display: flex;
  padding: 1em 1.5em;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey-color);
}

.seller-profile .sell-container .header-details .title {
  font-size: 2rem;
  font-weight: 400;
}

.seller-profile .sell-container .header-details button {
  padding: 0.5em 0.8em;
  color: var(--text-color);
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  cursor: pointer;
  transition: all .3s ease;
}

.seller-profile .sell-container .header-details button:hover {
  background-color: var(--light-color);
  color: var(--main-color);
}

.seller-profile .sell-container .products {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.seller-profile .sell-container .products .product-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.seller-profile .product-details {
  padding: 1em 1.5em;
}

.seller-profile form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.seller-profile form .field {
  flex: 50%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.seller-profile form .group.custom .field {
  flex: 70%;
}

.seller-profile form .group.custom .field:last-child {
  flex: 30%;
}

.seller-profile form .field label {
  font-size: 1.7rem;
}

.seller-profile form .field input.no-padding {
  padding: 0;
}

.seller-profile form .field input {
  padding: 1em;
}

.seller-profile form .group {
  display: flex;
  gap: 1em;
}

.seller-profile form select {
  padding: 1em 0.5em;
}

.seller-profile form .extra-group {
  display: flex;
}

.seller-profile form .colors {
  flex: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.seller-profile form .colors .select {
  display: flex;
  align-items: center;
  gap: 1em;
}

.seller-profile form .colors .select span {
  font-size: 1.7rem;
}

.seller-profile form .sizes {
  flex: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.seller-profile form .sizes .select {
  display: flex;
  align-items: center;
  gap: 1em;
}

.seller-profile form .sizes .select span {
  font-size: 1.7rem;
}

.seller-profile form .actions {
  display: flex;
  justify-content: right;
}

.seller-profile form .actions button {
  padding: 0.5em 1em;
  background-color: var(--main-color);
  color: var(--text-color);
  border: 1px solid var(--main-color);
  cursor: pointer;
  font-size: 1.5rem;
}

.seller-profile form .actions button:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}

/* Product Options */
/* .products-container .product .product-details .options {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.products-container .product .product-details .options .group {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.products-container .product .product-details .options .group h3 {
  font-size: 1.9rem;
}

.products-container .product .product-details .options .group .sizes {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
*/

/* Pop up rating */
.rating-pop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  min-height: 100vh;
}

.rating-pop.active {
  display: flex;
}

.rating-pop .wrapper {
  max-width: 440px;
  background-color: var(--light-color);
  border: 1px solid var(--grey-color);
}

.rating-pop form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.rating-pop .rating-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey-color);
  padding: 1em;
}

.rating-pop .rating-header .title {
  font-size: 2rem;
  font-weight: 500;
}

.rating-pop .rating-header .fa-xmark {
  font-size: 1.7rem;
}

.rating-pop .rating-description {
  padding: 1em 1.5em;
}

.rating-pop .rating-desc {
  font-size: 1.5rem;
  color: var(--rating-color);
}

.rating-pop .rating-select {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5em;
}

.rating-pop .rating-select .title {
  font-size: 1.8rem;
  font-weight: 500;
}

.rating-pop .rating-select .rate {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.rating-pop .rating-select .rate .radio {
  display: flex;
  gap: 1em;
  overflow: hidden;
}

.rating-pop .rating-select .rate .radio-input {
  display: none;
}

.rating-pop .rating-select .rate .radio-label {
  font-size: 1.5rem;
  color: var(--dark-color);
  background-color: var(--light-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease;
}

.rating-pop .rating-select .rate .fa-star {
  color: var(--grey-color-1);
  font-size: 2.5rem;
  cursor: pointer;
}

.rating-pop .rating-select .rate .fa-star:hover {
  color: var(--rating-color);
}

.rating-pop .rating-select .rate .radio-input:checked+.radio-label .fa-star {
  color: var(--rating-color);
}

.rating-pop .rating-header .rating-desc {
  font-size: 1.7rem;
  color: var(--rating-color);
}

.rating-pop .field {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.rating-pop .field label {
  font-size: 1.5rem;
}

.rating-pop .field input {
  padding: 1em;
}

.rating-pop .field textarea {
  resize: none;
  min-height: 120px;
  padding: 1em;
}

.rating-pop .actions {
  display: flex;
  justify-content: right;
}

.rating-pop .actions button {
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: var(--text-color);
  transition: all .3s ease;
}

.rating-pop .actions button:hover {
  background-color: var(--light-color);
  color: var(--main-color);
}

/* Rating System */
.product-rating {
  margin: 3em 5.5% 0 8.5%;
  display: flex;
  flex-direction: column;
}

.product-rating .rating-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-rating .title-group {
  display: flex;
  align-items: center;
}

.product-rating .title {
  flex: 20%;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--main-color);
  align-self: center;
}

.product-rating .title-group .horizontal-line {
  flex: 80%;
  border: 1px solid var(--main-color);
}

.product-rating .rating-header .sub-header {
  color: var(--light-color);
  border: 1px solid var(--rating-color);
  font-size: 1.7rem;
  padding: 0.4em 0.8em;
  background-color: var(--rating-color);
  cursor: pointer;
  transition: all .3s ease;
}

.product-rating .rating-header .sub-header:hover {
  background-color: var(--light-color);
  color: var(--rating-color);
}

.product-rating .rating-header .rating-total {
  display: flex;
  gap: 1em;
  align-items: center;
  background-color: var(--grey-color);
  padding: 1em;
  border-radius: 2px;
}

.product-rating .rating-header .rating-total .total {
  font-size: 6.5rem;
  color: var(--rating-color);
}

.product-rating .rating-header .rating-total .group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.product-rating .rating-header .rating-total .group .stars {
  display: flex;
  gap: 1em;
}

.product-rating .rating-header .rating-total .group .stars .fa-star {
  font-size: 1.9rem;
  color: var(--rating-color);
}

.product-rating .rating-header .rating-total .group .review-total {
  font-size: 1.8rem;
  color: var(--grey-color-1);
}

/* Review Rating Grid */
.rating-grid {
  margin: 1em 0 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.rating-grid .user-rating {
  background-color: var(--light-color);
  border-radius: 2px;
  border: 1px solid var(--grey-color-1);
  box-shadow: var(--box-shadow);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.rating-grid .user-rating .heading-details {
  display: flex;
  justify-content: space-between;
}

.rating-grid .user-rating .heading-details .left {
  display: flex;
  align-items: center;
  gap: 1em;
}

.rating-grid .user-rating .heading-details .left .user-icon {
  background-color: var(--grey-color-1);
  min-width: 42px;
  min-height: 42px;
  border-radius: 100%;
}

.rating-grid .user-rating .heading-details .left .group {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

.rating-grid .user-rating .heading-details .left .group .name {
  font-size: 1.5rem;
}

.rating-grid .user-rating .heading-details .left .group .timestamp {
  font-size: 1.3rem;
  color: var(--grey-color-1);
}

.rating-grid .user-rating .heading-details .rate-group {
  display: flex;
  align-items: center;
  gap: 1em;
}

.rating-grid .user-rating .heading-details .rate-group .stars {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.rating-grid .user-rating .heading-details .rate-group .stars .fa-star {
  font-size: 1.3rem;
  color: var(--rating-color);
}

.rating-grid .user-rating .heading-details .rate-group .num {
  font-size: 1.5rem;
  color: var(--rating-color);
}

.rating-grid .user-rating .rating-details {
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.rating-grid .user-rating .rating-details .title {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--dark-color);
}

.rating-grid .user-rating .rating-details .description {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--dark-color);
}

/* Seller Products */
.sell-container.list {
  margin-top: 1em 0;
}

.sell-container.list .header-details {
  margin: none;
}

.sell-container.list .product-col .like {
  display: none;
}

/* Confirm Product Modal */
.modal-pop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
}

.modal-pop.active {
  display: flex;
}

.modal-pop form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modal-pop .wrapper .sub-header {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modal-pop .wrapper .sub-header .horizontal-line {
  border: 1px solid var(--grey-color);
}

.modal-pop .wrapper {
  padding: 2em;
  max-width: 640px;
  background-color: var(--light-color);
  color: var(--dark-color);
  border: 1px solid var(--grey-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.modal-pop .wrapper .modal-header {
  display: flex;
  justify-content: center;
}

.modal-pop .wrapper .modal-header .left {
  flex: 70%;
}

.modal-pop .wrapper .modal-header .left {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modal-pop .wrapper .modal-header .left .title {
  font-size: 2rem;
  font-weight: 500;
}

.modal-pop .wrapper .modal-header .left .description {
  font-size: 1.6rem;

}

.modal-pop .wrapper .modal-header .right {
  flex: 30%;
}

.modal-pop .wrapper .modal-header .right img {
  max-height: 120px;
  object-fit: cover;
}

/* Product Buy Details */
.modal-pop .wrapper .product-content .selected {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modal-pop .wrapper .product-content .selected .sub-title {
  font-size: 1.7rem;
  font-weight: 500;
}

.modal-pop .product-buy-details {
  display: flex;
}

.modal-pop .product-buy-details .left {
  flex: 30%;
}

.modal-pop .product-buy-details .left img {
  min-height: 180px;
  max-width: 160px;
  object-fit: fill;
  border: 1px solid var(--grey-color-1);
}

.modal-pop .product-buy-details .right {
  flex: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1em;
}

.modal-pop .product-buy-details .right .price {
  font-size: 2.5rem;
  background-color: var(--main-color);
  padding: 0.2em;
  color: var(--light-color);
  border: 1px solid var(--grey-color);
}

.modal-pop .product-buy-details .right .price .original-price {
  text-decoration: line-through;
}

.modal-pop .product-buy-details .right .product-group {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 2.5rem;
}

/* .modal-pop .product-buy-details .right .qty-bought {
  display: flex;
  gap: 1em;
  align-items: center;
} */

.modal-pop .product-buy-details .right .group {
  display: flex;
  align-items: center;
}

.modal-pop .product-buy-details .right .group .counter {
  font-size: 1.5rem;
  padding: 0.65em;
  border: 1px solid var(--grey-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--light-color);
}

.modal-pop .product-buy-details .right .group .field-input {
  display: flex;
  align-items: center;
}

.modal-pop .product-buy-details .right .group .field-input input {
  width: 70px;
  padding: 0.2em 0.9em 0.25em;
  outline: none;
  font-size: 1.9rem;
  border: 1px solid var(--grey-color);
  color: var(--main-color);
  display: flex;
  align-items: center;
}

.modal-pop .product-buy-details .right .product-name {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 500;
}

.modal-pop .product-buy-details .right .product-description {
  font-size: 1.3rem;
}

.modal-pop .product-buy-details .buy-details {
  display: flex;
  width: 100%;
  gap: 1em;
}

.modal-pop .product-buy-details .buy-details .content-col {
  flex: 50%;
  border: 1px solid var(--grey-color-1);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.modal-pop .product-buy-details .buy-details .content-col .title {
  font-size: 1.2rem;
}

.modal-pop .product-buy-details .buy-details .content-col .name {
  font-size: 1.7rem;
}

/* Buy Product Delivery Information */
.modal-pop .delivery-information {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modal-pop .delivery-information .sub-title {
  font-size: 1.7rem;
  font-weight: 500;
}

.modal-pop .fields {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modal-pop .fields .field {
  display: flex;
  gap: 0.8em;
  flex-direction: column;
}

.modal-pop .fields .field label {
  font-size: 1.5rem;
}

.modal-pop .fields .field input {
  padding: 0.5em;
  border: 1px solid var(--grey-color-1);
}

.modal-pop .fields select {
  padding: 0.5em 0.8em;
}

.modal-pop .fields .group {
  display: flex;
  gap: 1em;
}

.modal-pop .fields .group .field {
  flex: 50%;
}

/* Buy Product Actions */
.modal-pop .buy-actions {
  display: flex;
  width: 100%;
  gap: 1em;
}

.modal-pop .buy-actions button {
  flex: 50%;
  padding: 0.5em 0.8em;
  color: var(--light-color);
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  cursor: pointer;
  transition: all .3s ease;
}

.modal-pop .buy-actions button:hover {
  background-color: var(--light-color);
  color: var(--main-color);
}

.modal-pop .buy-actions button:last-child {
  background-color: var(--light-color);
  color: var(--main-color);
}

.modal-pop .buy-actions button:last-child:hover {
  background-color: var(--main-color);
  color: var(--text-color);
}

/* Discount Modal Pop */
.discount-modal {
  display: none;
}

.discount-modal.active {
  display: flex;
}

.discount-modal .wrapper {
  padding: 0;
  min-width: 320px;
  max-width: 320px;
}

.discount-modal .wrapper .header-details {
  padding: 1.5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey-color);
}

.discount-modal .wrapper .header-details .title {
  font-size: 1.7rem;
  color: var(--main-color);
  font-weight: 500;
}

.discount-modal .wrapper .header-details .exit {
  font-size: 1.3rem;
  border-bottom: 1px solid var(--grey-color);
}

.discount-modal .wrapper .content .form {
  padding: 1em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.discount-modal .wrapper .content .item-name {
  font-size: 1.5rem;
  align-self: center;
  color: var(--dark-color);
}

.discount-modal .wrapper .content .item-select {
  padding: 0.5em;
  margin: 0 1em;
}

.discount-modal .wrapper .content .group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
  margin: 2em 0;
}

.discount-modal .wrapper .content .group .counter {
  padding: 1em 1.2em;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  border-radius: 100%;
  cursor: pointer;
}

.discount-modal .wrapper .content .group .field-input {
  display: flex;
  gap: 0.2em;
  align-items: center;
}

.discount-modal .wrapper .content .group .field-input input {
  width: 55px;
  padding: 0 0.5em 0.5em;
  outline: none;
  font-size: 2.5rem;
  border: none;
  border-bottom: 1px solid var(--main-color);
}

.discount-modal .wrapper .content .group .field-input .percent {
  font-size: 2.2rem;
  color: var(--grey-color-1);
  margin-bottom: 0.5em;
}

.discount-modal .wrapper .content .disc-set {
  color: var(--grey-color-1);
  align-self: center;
  font-size: 1.3rem;
}

.discount-modal .wrapper .content .description {
  margin: 2em 1em 0;
  font-size: 1.3rem;
  color: var(--dark-color);
  text-align: center;
}

.discount-modal .wrapper .content .description .item-price {
  text-decoration: line-through;
  font-size: 1.5rem;
  color: var(--grey-color-1);
}

.discount-modal .wrapper .content .description .item-price-discount {
  font-size: 1.5rem;
  color: var(--main-color);
}

.discount-modal .wrapper .actions {
  display: flex;
  width: 100%;
}

.discount-modal .wrapper .actions button {
  flex: 100%;
  padding: 0.5em;
  background-color: var(--main-color);
  color: var(--text-color);
  border: 1px solid var(--main-color);
  cursor: pointer;
  transition: all .3s ease;
}

.discount-modal .wrapper .actions button:hover {
  background-color: var(--light-color);
  color: var(--main-color);
}

@media (max-width: 1800px) {

  .product-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 60.5%;
  }

  .product-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 59%;
  }

  .product-grid {
    grid-template-columns: 1fr 1fr;
  }
}